/* ******************************
 BELOW 944px (tablet)
 ********************************* */
@media (max-width: 59em) {
  .img-text {
    width: 56rem;
  }

  h1 {
    font-size: 32px;
  }

  .rating {
    grid-template-columns: 1fr;
  }
}

/* ******************************
 BELOW 704px (smaller tablet)
 ********************************* */

@media (max-width: 44em) {

  .specs {
    grid-template-columns: repeat(3, 1fr);
  }

  h3 {
    font-size: 3rem;
  }

  h4 {
    font-size: 14px;
  }

  .btn {
    font-size: 1.4rem;
  }

  #left-btn {
    left: 6%;
  }

  #right-btn {
    right: 6%;
  }

  label.profile {
    font-weight: 500 !important;
  }

  .h-i-w-cards {
    grid-template-columns: 1fr;
  }


  .availablities {
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }

  .logo-line {
    display: block !important
  }

  .places {
    height: 4rem;
    font-size: 16px;
    width: 80%;
  }

  .logo_side {
    width: 50%;
  }

  .logo-line {
    display: block !important;
  }


}

/* ******************************
 BELOW 544px (smaller tablet)
 ********************************* */

@media (max-width: 34em) {
  .img-text {
    width: 80%;
  }

  .btn {
    font-size: 1.2rem;
  }

  h1 {
    font-size: 2.2rem;
  }

  #left-btn {
    left: 5.5%;
  }

  #right-btn {
    right: 5.5%;
  }

  .s-c {
    width: 80%;
  }

  .mobile-redirects,
  .social-media-redirects {
    width: 100%;
    justify-content: center !important;
  }

  .footer-nav {
    width: 100%;
  }

  .logo {
    display: flex;
    justify-content: center !important;
  }

  .logo img {
    display: block;
  }

  .dropdown label {
    display: none;
  }
}


/* ******************************
 BELOW 425px (smaller tablet)
 ********************************* */

@media (max-width: 26em) {
  h1 {
    font-size: 2rem;
  }

  #left-btn {
    left: 1.5%;
  }

  #right-btn {
    right: 1.5%;
  }
}


/* ******************************
 BELOW 375px (smaller tablet)
 ********************************* */

@media (max-width: 23em) {
  h1 {
    font-size: 1.8rem;
  }
}

/* ******************************
 BELOW 320px (smaller tablet)
 ********************************* */

@media (max-width: 20em) {
  h1 {
    font-size: 1.6rem;
  }
}
