@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

/* :root {
} */

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "open sans";
}

h6::-webkit-scrollbar,
.sb-hidden::-webkit-scrollbar {
  display: none;
}

h6,
.sb-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.nvg {
  height: 6rem;
  width: 90vw;
}

h1 {
  font-size: 48px;
  font-weight: 600;
  width: 80%;
}

main {
  width: 100vw;
  overflow-x: hidden;
}

.logo_side {
  width: 40vw;
}

.logo {
  height: 33%;
  width: auto;
}

.logo,
.profile-pic {
  height: 2.5rem;
  width: auto;
}

.logo_side img,
.profile-pic img {
  height: 2.5rem;
}

.main-top-pic img {
  width: 100vw;
  height: auto;
}

.places {
  height: 36px;
}

.search-input {
  height: 100%;
  width: 50%;
  background-color: #fff;
}

input {
  height: 100%;
  width: 93%;
  border: none;
  padding: 1rem;
  color: black;
  font-size: medium;
}

input:focus {
  outline: none;
}

svg {
  height: 2rem;
  color: #1A54B0;
}

.img-text {
  width: 75%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.service-card {
  /* display: grid; */
  /* grid-template-columns: repeat(3, 1fr); */
  /* height: 100%;*/
  /* max-width: 100%; */
  /* gap: 20px; */
}

.card {
  background-color: transparent;
}

.services-cards {
  width: 90vw;
}

h3 {
  font: normal normal bold 36px/49px Open Sans;
}

.card {
  /* width: 95%; */
  height: 16rem;
  text-align: center;
  /* margin: auto; */
  border-radius: 6px;
  border: transparent;
  /* background-color: transparent; */
}

.card-title {
  font: normal normal bold 28px "Open Sans";
}

.button {
  font: normal normal bold 14px "Open Sans";
}

.card-1 {
  background-color: #A485BE;
}

.card-2 {
  background-color: #89CCAB;
}

.card-3 {
  background-color: #F79384;
}

p {
  font: normal normal normal 18px "Open Sans";
  color: #666666;
  margin: 0;
  padding: 0.35rem;
}

.specs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.specs_pic {
  width: 100%;
  height: 100%;
}

.specs_pic img {
  width: 100%;
}

h4 {
  color: #1A54B0;
  font: 700 18px;
}

.h-i-w-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 85%;
}

.h-i-w-card {
  width: 100%;
}

.h-i-w-card .card h4 {
  color: black;
  font: normal normal bold 20px/27px Open Sans;
}

.h-i-w-card .card p {
  font: normal normal normal 16px/24px "Open Sans";
}

.h-i-w-card img {
  height: 110px;
}

.profile-card {
  height: 35rem;
  width: 32rem;
  display: block;
}

.top-pic {
  margin: auto !important
}

.top-pic img {
  height: 30%;
  width: 30%;
}

h5 {
  font: normal normal bold 20px/24px "Open Sans";
  margin-bottom: 0;
  padding-bottom: 0.5rem;
}

.dash {
  padding: 0.5rem 0.5rem !important;
  /* width: 90%; */
  border: 0;
  border-bottom: 2px dashed #ccc;
}

.stars svg {
  height: 15px;
  fill: #FFC437;
}

hr,
.bottom-data {
  display: block;
  padding: 1rem .5rem !important;
}

.bottom-data p {
  font: normal 16px/24px "Open Sans"
}

.wrapper {
  width: 100%;
  height: 40rem;
}

.carousal {
  display: grid;
  grid-template-columns: 25fr 75fr;
  width: 100%;
}

.carousal-img {
  height: 38rem;
  width: 315rem;
}

.card1 {
  top: 0;
  left: 0%;
  z-index: 1;
  transform: scale(.7);
}

.card2 {
  z-index: 2;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
}

.card3 {
  top: 0;
  right: 0%;
  z-index: 1;
  transform: scale(.7);
}

.carousal-indicators {
  height: 5%;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: -2%;
}

.c-btn {
  margin: 0 5px;
  height: 10px;
  width: 10px;
  bottom: 10px;
  border-radius: 50%;
  background-color: #CECECE;
}

.active {
  background-color: #1A54B0;
}

.rating-and-review {
  width: 90vw;
}

.review {
  font: normal normal normal 16px/22px "Open Sans";
}

#right-btn,
#left-btn {
  /* color: #827575; */
  height: 45px;
  width: 45px;
  background-color: #F0F0F0;
  border-radius: 50%;
  z-index: 7777;
  transform: translatey(14.5rem);
}

#right-btn {
  right: 7.5%;
}

#left-btn {
  left: 7.5%;
}

.arrow {
  color: #000000;
}

#left,
#right {
  height: 15px;
  width: 15px;
  top: 1.5rem;
  z-index: 7778;
  color: #000000;
}

#left {
  left: 1.7rem;
}

#right {
  right: -1.7rem;
}

.cities {
  background-color: #F8F8F8;
}

.availablities {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

ul {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
}

li {
  height: 100%;
  width: 100%;
  font: normal normal normal 16px/22px Open Sans;
}

li img {
  height: 16px;
  width: 16px;
}

.footer {
  background-color: #212121;
  width: 100vw;
}

.logo {
  /* width: 80%; */
}

.redirects {
  width: 80%;
  height: auto;
}

.footer-nav {
  width: 50%;
  color: #F0F0F0;
  display: grid;
}

.logo-line {
  width: 80%;
}


.sm-icon {
  height: 3.4rem;
  width: 3.4rem;
  background-color: #FFFFFF;
  display: flex;
  border-radius: 50%;
}

.fa {

  color: #000000;
  height: 22px;
  width: 22px;
  /* top: 50%; */
  /* left: 50%; */
  transform: translate(60%, 50%);
}

.mobile-redirects {
  width: 23rem;
  height: 3.4rem;
}

.mobile-redirects img {
  height: 3.4rem;
}

a {
  color: white;
}

.footer-copyright {
  border-top: 1px solid white;
  width: 100%;
  color: white;
}

/* 1440   1024  768  425 375 702 */

/* Media Query for Mobile Devices */
@media (max-width: 480px) {


  .specs {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {

  h1 {
    font-size: 16px;
    font-weight: 600;
    width: 80%;
  }

  .h-i-w-cards {
    grid-template-columns: 1fr;
  }

  .carousal {
    display: block !important;
  }

  .review-words {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo_side {
    width: 50vw;
  }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {}

/* Media Query for Large screens */
@media (min-width: 1281px) {}



@media (max-width: 1440px) {
}
